# env
.env
*.env

# Logs
app.log
*.log

# BD
instance/
instance/*.db
instance/*.sqlite
instance/*.sqlite3

# Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Venv
venv/
env/
.venv/
.env/

# Photos
static/profile_pics/
!static/profile_pics/default.png
static/post_pics/

# Werkzeug
*.pid

# VSCode
.vscode/

# PyCharm
.idea/


.DS_Store
Thumbs.db
