{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
        <div class="post">
            <p>{{ current_user.username }}</p>
            <p>{{ post.date.astimezone().strftime("%d/%m/%Y %H:%M") }}</p>
            <h2>{{ post.title }}</h2>
            <p>{{ post.body }}</p>
            <img src="{{ url_for('static', filename='post_pics/' ~ post.post_pic) }}" alt="imagem do post" class="post-pic">
            <form action="{{ url_for('user.like_post', post_id = post.id) }}" method="POST">
                <button type = "submit" class="btn btn-primary">Like</button>
            </form>
            <p>{{ post.likes|length }}</p>

        </div>
{% endif %}
{% endblock %}
