{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
        <div class="post">
            <img src="{{ url_for('static', filename = 'profile_pics/' + (post.author.profile_pic or 'default.png')) }}" class="author-pic" 
             alt="{{ post.author.username }} profile picture" width="40" height="40">
            <p>{{ post.author.username }}</p>
            <p>{{ post.date.astimezone().strftime("%d/%m/%Y %H:%M") }}</p>
            <h2>{{ post.title }}</h2>
            <p>{{ post.body }}</p>
            <img src="{{ url_for('static', filename='post_pics/' ~ post.post_pic) }}" alt="imagem do post" class="post-pic">

            <form action="{{ url_for('user.like_post', post_id = post.id) }}" method="POST">
                <button type = "submit" class="btn btn-primary">Like</button>
            </form>

            <a href="{{ url_for('user.edit_post', post_id = post.id) }}">Edit Post</a>

            <p>{{ post.likes|length }}</p>

        </div>

        <div class="comment">
            <h3>Comments</h3>

            {% for comment in post.comments %}

            <div class="single-comment">
                <img src="{{ url_for('static', filename = 'profile_pics/' + (comment.author.profile_pic or 'default.png')) }}" class="author-pic" 
                alt="{{ comment.author.username }} profile picture" width="40" height="40">
                <p>{{ comment.author.username }}</p>
                <p>{{comment.date.astimezone().strftime("%d/%m/%Y %H:%M") }}</p>
                <p>{{ comment.body|safe }}</p>
                <form action="{{ url_for('user.like_comment', comment_id = comment.id) }}" method="POST">
                    <button type = "submit" class="btn btn-primary">Like</button>
                </form>
                <p>{{ comment.likes|length }}</p>
            </div>

            {% endfor %}

            <form action="{{ url_for('user.see_post', post_id = post.id) }}" method = "POST">
                {{ form.hidden_tag() }}

                {{ form.body.label }}
                {{ form.body(rows = 3, class_="form-control") }}

                {{ form.post_id }}

                {{ form.submit(class_="btn btn-primary") }}
            </form>
        </div>
        
{% endif %}
{% endblock %}
